.jumbotron {
	background-color: red;
	color: black;
	margin-top: 50px;
}
.btn {
	background-color: red;
	color: black;
	width: 100%;
}
.card-s{
	flex: 1 150px;

	margin-left: 2px;
}
.icon{
	padding-right: 5px;
}
.tab-content{
	padding: 5px 5px 5px 0px;
}
footer{
	padding: 10px 100px 0 10px;
	background-color: black;
	color: white; 
	margin-top: 15px;
}